@charset "UTF-8";
$tablet : 1179px;
$mobile : 539px;

@import "reset.scss";
@import "sub_layout.scss";
@import "department.scss";
@import "community.scss";
@import "gallery.scss";
@import "youtube.scss";
@import "join.scss";
@import "location.scss";

@mixin title($fontSize:24px, $color:#555, $mb:50px){
    font: bold $fontSize/1 'arial'; color: $color; text-align: center; margin-bottom: $mb;
}

#header{
    width:100%; padding:40px 0px;
    .inner{
        width:1180px; margin:0px auto; position:relative;
        >h1{
            text-align:center; margin-bottom:30px;
            a{
                font:bold 36px/1 'arial'; color:#555;
                span{
                    display:block; font:12px/1 'arial'; color:#555; letter-spacing:1px; margin-top:3px;
                }
            }
        }
        
            #gnb{
               width: 100%;
               &::after {content:''; display:block; clear:both;}
                li{
                    float: left;width:20%; height:70px;
                    a{
                        display:block; width:100%; height:100%; font:bold 14px/70px 'arial'; color:#999; text-align:center;
                        &:hover{
                            color:#000; text-decoration:underline;
                        }
                    }
                }
            }
            
        

        .btnCall{
            display: none;
        }
        
    }
}

#visual{
    width: 100%;  overflow: hidden; background:url(../img/visual_main.jpg) no-repeat center/cover;
    height: calc(100vh - 121px);
    .inner{
        width: 1180px; margin: 0 auto; position: absolute;
        
    }
}

#news{
    width:100%; padding-bottom:180px; padding-top: 180px;
    .inner{
        width:1180px; margin:0px auto;
        h1{
            @include title();
        }
        .wrap{
            width: 100%; border-bottom: 2px solid red;
            &::after{content:''; display:block; clear:both;}
            article{
                width:280px; border-top:2px solid red;  box-sizing:border-box; margin-right:20px; float:left; padding-top:24px;
                &:last-child{margin-right: 0px;}
                .pic{
                    width:100%; height:190px; margin-bottom:24px;
                }
                p{
                    font:14px/1.4 'arial'; color:#777;
                }
                h2{
                    font:bold 16px/1 'arial'; color:#444; margin-bottom:15px;
                }
            }
            .news1{ 
                .pic{
                    background: url(../img/macalong.jpg)no-repeat center/cover;
                }
            }
            .news2{ 
                .pic{
                   background: url(../img/makkiya.jpg)no-repeat center/cover;
                }
            }
            .news3{ 
                .pic{
                    height:320px; background: url(../img/latte.jpg)no-repeat center/cover;
                }
            }
            .news4{
                .txt{
                    &::after{content:''; display:block; width:80px; height:4px; background:yellowgreen; margin-top:20px;}
                    font:bold 60px/0.7 'arial'; color:#333; margin-bottom:20px;
                    span{font:normal 40px/1 'arial'; color:#555;}
                }
                a {
                    
                    font:bold 12px/1 'arial'; color:#888;
                }
            }
        }
    }
}

#icon {
    width:100%; padding-bottom:180px; padding-top: 0px; 
    .inner{
        width: 1180px; margin: 0px auto; padding-bottom: 100px; border-bottom: 2px solid red;
        h1{font:bold 24px/1 'arial'; color:#444; margin-bottom:15px; text-align:center;}
        h2 {font:12px/1 '맑은 고딕'; color:#444; margin-bottom:50px; text-align:center;}
        .wrap{
            width: 100%;
            &::after{content:''; display:block; clear:both;}
            article{
                width:calc(100% / 6); box-sizing:border-box; float:left; padding:0px 20px;
                .pic {
                    width:100px; height:80px; margin:0px auto; margin-bottom:20px; text-align:center;
                    i{
                        font-size:40px; line-height:80px; color:#666; transition:0.5s;
                        &:hover{color:#222; transform:scale(1.3);}
                    }
                    
                }
                p {font:14px/1 '맑은 고딕'; color:#777; text-align:center;}
            }
        }
    }
}

#tab{
    width: 1180px; height: 50vh; margin: 0px auto; margin-bottom: 300px; position:relative; border-radius: 40px;
    .inner { 
        width:100%; height:100%;
        .wrap{
            width: 100%;
            .left { 
                width:320px; height:100%; background:url(../img/Espresso.jpg)no-repeat center/cover; position:absolute; top:0px; left:0px; padding:50px 30px; border-radius: 50px 0 0 50px; box-sizing:border-box; z-index:10;
                h2 { font:bold 28px/1 "Aldrich"; color:pink; margin-bottom:40px; letter-spacing: 10px;}
                .navi { 
                    width:100%;
                    li{
                        a{
                            display:block; border-bottom:1px solid #333; padding:20px 10px; font:12px/1 "Aldrich"; letter-spacing: 2px; color:#bbb; box-sizing:border-box; transition:all 0.5s;
                            &.on{
                                color:orangered; padding:20px 40px; background:rgba(0,0,0,0.1); letter-spacing: 10px;
                            }
                        }
                    }
                }
            }
            .box { 
                width:880px; height:100%; position:absolute; top:0px; right:0px; display:none; 
                h2 { font: 80px/1 "Aldrich"; color:#111; position:absolute; left:0px; top:100px; opacity:0; letter-spacing:5px; transition:all 1s; }
                p { font:bold 16px/2 "arial"; color:#fff; position:absolute; left:0px; top:200px; opacity:0; letter-spacing:2px; transition:all 1.5s;}
                h3 { position:absolute; bottom:-25px; right:-100px; font:bold 250px/1 "verdana"; color:#fff; opacity:0; z-index:0; letter-spacing:-10px; transition:all 2.5s;}
                &.on{
                    display: block;
                    h2{left:100px; opacity:1;}
                    p{ left:100px; opacity:1;}
                    h3 { right:0px; opacity:0.3;}
                }
                img{transition: all 1s;}
            }
            #tab1 { background:url(../img/tab_bg.jpg)no-repeat center/cover;}
            #tab2 { background:url(../img/tab_bg.jpg)no-repeat center/cover;}
            #tab3 { background:url(../img/tab_bg.jpg)no-repeat center/cover;}
            #tab4 { background:url(../img/tab_bg.jpg)no-repeat center/cover;}
        }
    }
}
/*
#info{
    width: 1180px; height: 50vh; margin: 0 auto; padding: 100px; position:relative;
    .inner { 
        width:100%; height:100%; 
        h1{
            font:bold 24px/1 '맑은 고딕'; color:#444; margin-bottom:15px; text-align:left;
        }
        .wrap{
            width: 100%; perspective:800px; 
            #cube {
                width:400px; height:400px;position:absolute; top:50%; left:50%;
                transform: translate(-50%,-50%);
                transform-style:preserve-3d; transition:all 1s;
                div{
                    width:100%; height:100%; position:absolute; top:0px; left:0px; text-align:center; 
                }
                .box1 {background:url(../img/baigle.jpg)no-repeat center/cover; transform:rotateY(0deg) translateZ(200px);}
                .box2 {background:green; transform:rotateY(90deg) translateZ(200px); }
                .box3 {background:red; transform:rotateY(180deg) translateZ(200px);}
                .box4 {background:violet; transform:rotateY(270deg) translateZ(200px);}
                .box5 {background:orangered; transform:rotateX(90deg) translateZ(200px);}
                .box6 {background:royalblue; transform:rotateX(270deg) translateZ(200px);}
            }
            >ul{
                bottom:50px; left:50%; transform:translateX(-50%);
                li{
                    font:bold 20px/1 'arial'; margin:20px; color:#888; float:left;cursor:pointer; transition:all 0.5s;
                    &.on{
                        color:#000; transform:scale(1.7);
                    }
                }
            }
        }
    }
}
*/













#footer{
    width: 100%; padding: 30px 0; background: #eee;
    .inner{
        width: 1180px; margin: 0 auto;
        &::after{content: ''; display: block; clear: both;}
        h1{
            font: bold 24px/1 'arial'; color: #666; float: left;
        }
        ul{
            float: right;
            li{
                float: left; margin-left: 20px;
                a{
                    font: bold 14px/1 'arial'; color: #666;
                }
            }
        }
        address{
            float: left; width: 100%; font: 14px/1.3 'arial'; color: #777; margin-bottom: 20px; margin-top: 20px; border-top: 1px solid #888; padding-top: 20px;
        }
        p{
            font: 12px/1 'arial'; color: #777; width: 100%; float: left;
        }
    }
}

